html {
  font-family: Merriweather, serif;
}

main {
  border: 1px;
}

.calendar,
td,
th {
  border: 1px solid #ccc;
}

td {
  height: 189px;
}

.launch {
  background-color: #f2f2f2;
  border: 1px solid #666;
  color: #333;
  border-radius: 8px;
}

.holiday {
  background-color: #f2bcbc;
  border: 1px solid #b92828;
  color: #991919;
  border-radius: 8px;
}

.monument {
  background-color: #d1e0bf;
  border: 1px solid #6b7e54;
  color: #51603f;
  border-radius: 8px;
}

.event {
  background-color: #d2d6f0;
  border: 1px solid #1d38da;
  color: #38448e;
  border-radius: 8px;
}
